body {
    background-image: url('https://images.all-free-download.com/images/graphiclarge/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;
}

#wel-msg {
    height: 900px;
    margin-bottom: auto;
    margin-top: auto;
}

p {
    font-family: constantia;
    text-align:center;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
            color: purple;
            font-weight: 500;
            font-size:50px;
    }

    100% {
            color: yellowgreen;
            font-weight: 900;
            font-weight: 90px;
    }
}